.tictactoe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 500px;

  &__turn {
    font-size: 1.5em;
  }

  &__grid {
    margin-top: 24px;

    border-collapse: collapse;
  }
}